.titulo{
    background-color: rgb(27, 175, 153);
    color: rgb(224, 20, 20);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
}
.divtitulo {
    padding-top: 3%; /*para los margenes*/
    padding-bottom: 2px;
    background-color: rgb(199, 124, 168);
    
}

body{
    margin:0 ;
}

.subtitulo{
    padding-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(225, 194, 255);
}

.backlink{
    margin-top: 5%;
    text-align: center;
}

